.contact-list-wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-list-page-header {
  display: flex;
  justify-content: center;

  &__button {
    &--logout {
      display: block;
      float: right;
      width: 100px;
      height: 30px;
      margin-top: 10px;
      border: 1px solid #bbbbbb;
      border-radius: 5px;
      background-color: #ffffff;
      color: #8a8a8a;
      font-size: 15px;
      font-family: 'Balsamiq Sans', cursive;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: #f44336;
        border-style: none;
        color: #ffffff;
      }
    }
  }
}

.contact-list-page-header-buttons-wrap {
  display: block;
  padding: 0 20px;
  width: 900px;
}
