.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-page-message {
  height: 20px;

  &__incorrect-input {
    margin-left: 10px;
    font-size: 15px;
    color: #ff0000;
  }
}

.login-page-form {
  display: block;
  width: 400px;
  height: 270px;
  border: 1px solid #bdbdbd;
  box-shadow: 5px 10px 20px 0px #00000099;
  border-radius: 10px;
  padding: 40px 20px;
  background-color: #ffffff;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 16px;

  &__item {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    height: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    color: #666666;
    font-size: 15px;

    &--password {
      letter-spacing: 3px;
    }
  }

  &__label {
    color: #3b3b3b;
  }

  &__submit {
    display: block;
    float: right;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #3b3b3b6c;
    border-radius: 5px;
    border-style: none;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Balsamiq Sans', cursive;
    outline: none;
    cursor: pointer;
  }
}
